<nav class="nav-bar">
  <div class="container px-2 h-20 text-center flex items-center justify-between">
    <button class="icon-btn"><i class="material-icons">apps</i></button>
    <a class="text-4xl font-medium" href="/">Minify URL</a>
    <button class="icon-btn" (click)="toggleTheme()" title="Toggle Theme">
      @if(theme === 'light') {
        <i class="material-icons">dark_mode</i>
      }
      @else {
        <i class="material-icons">light_mode</i>
      }
    </button>
  </div>
</nav>
